extends layout

block content
  h1= title
  p Welcome to #{title} 
  
  img(src='/public/images/peel_potato.png'  alt='Peel_Potato' style='width:100px;')

  table(style='width:100%', border='0')
    tr
      th 
        a(href='#')
          img(src="/public/images/Bake_seeds02.jpg" alt='Butternet_Squash_Seeds' style='width:100px; height:100px;') 
      th 
        a(href='#')
          Baked Butternet Squash Seeds <br> Aug 20, 2020

    tr
      th 
        a(href='#')
          img(src="/public/images/wrap.jpg" alt='Egg & Salmon wrap' style='width:100px; height:100px;') 
      th 
        a(href='#')
          Egg and Salmon wrap <br> July 30, 2020

    tr
      th 
        a(href='#')
          img(src="/public/images/cream_tomato.jpg" alt='Cream of Tomato Soup' style='width:100px; height:100px;') 
      th 
        a(href='#')
          Cream of Tomato Soup <br> June 10, 20200
          
    tr
      th 
        a(href='#')
          img(src="/public/images/Risotto.jpg" alt='Risotto' style='width:100px; height:100px;') 
      th 
        a(href='#')
          Risotto <br> July 12, 2020
