extends layout

block content
  h1= title
  p Welcome to #{title} 

  img(src='/images/peel_potato.png'  alt='Peel_Potato' style='width:200px;')

  table(border='0', )
    tr
      th 
        a(href='#')
          img(src="/images/Bake_seeds02.jpg" alt='Butternet_Squash_Seeds' style='width:100px;') 
      th 
        a(href='#')
          div Baked Butternet Squash Seeds
          div Skill Level: *
          
    tr
      th 
        a(href='#')
          img(src="/images/cream_mushroom.jpg" alt='Cream_0f_mushroom' style='width:100px;') 
      th 
        a(href='#')
          div Risotto 
          div July 12, 2020

    tr
      th 
        a(href='#')
          img(src="/images/cream_potato.jpg" alt='Cream_of_potato' style='width:100px;') 
      th 
        a(href='#')
          div Risotto 
          div July 12, 2020
                    
    tr
      th 
        a(href='#')
          img(src="/images/cream_tomato.jpg" alt='Cream_of_Tomato' style='width:100px;') 
      th 
        a(href='#')
          div Risotto 
          div July 12, 2020
          
    tr
      th 
        a(href='#')
          img(src="/images/grill_cheese_platter.jpg" alt='Grill_Cheese' style='width:100px;') 
      th 
        a(href='#')
          div Risotto 
          div July 12, 2020

    tr
      th 
        a(href='#')
          img(src="/images/Risotto.jpg" alt='Risotto' style='width:100px;') 
      th 
        a(href='#')
          div Risotto 
          div July 12, 2020

    tr
      th 
        a(href='#')
          img(src="/images/wrap.jpg" alt='Egg & Salmon wrap' style='width:100px;') 
      th 
        a(href='#')
          div Egg and Salmon wrap 
          div July 30, 2020
