extends ../layout

block content
  h1 About Us
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis magna sed nisi sollicitudin sodales nec ut ligula. Pellentesque fringilla quis tellus semper aliquet. Vivamus tristique velit non lacinia ultricies. Proin eleifend erat a lacus consectetur maximus. Morbi commodo libero vitae libero placerat, vitae molestie enim maximus. Maecenas felis tortor, pretium efficitur volutpat sed, tincidunt sed mauris. Cras posuere vitae massa vel dignissim. Mauris blandit quam arcu. Maecenas porttitor, ligula a laoreet sollicitudin, mauris ex mollis purus, sit amet vehicula risus ipsum in felis. Pellentesque nec faucibus turpis. Duis vitae pellentesque nulla, in volutpat mauris. Ut non tristique sapien.
  
  form(method="POST")
    .form-group
      label(for="emailInput") Subscibe for the latest recipe
      input.form-control#emailInput(
        name="email"
        type="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      )
      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.

    button.btn.btn-primary(type="submit") Submit