<table align="center">
      <tr>
        <th colspan="2">
          <a name="cream_of_tomato"></a>
          <h2>Cream of Tomato Soup</h2>

          <img src="cream_tomato.jpg"><br><br>
          Reference: recipet from "<a href="https://www.bonappetit.com/recipe/creamy-tomato-soup" target="_blank">bon
            appetit</a>"
        </th>
      </tr>

      <tr>

        <td align="left">
          <h4>Ingredient</h4>
          <ul>
            <li>2 Tbsp unsalted butter (or vegetable oil)</li>
            <li>1/2 medium onion, thinly sliced</li>
            <li>2 garlic cloves, thinly sliced</li>
            <li>5 whole Beef Tomatoes, cut in quarters</li>
            <li>1 Tbsp dry Basil </li>
            <li>4 Tbsp cup (or more) heavy cream</li>
            <li>Kosher salt and freshly ground black pepper</li>
          </ul>
        </td>

        <td align="left">
          <h4>Ingredient for Additional flavor </h4>
          <ul>
            <li>2 Tbsp tomato paste or 1 cup chicken stock</li>
            <li>1 tsp cayenne pepper or paprika</li>
            <br><br><br><br><br><br>
          </ul>
        </td>

      </tr>

      <tr>
        <td colspan="2" align="left" style="width:700px">

          <h4>Recipe Preparation</h4>
          <ol>
            <li>Melt butter in a large heavy pot over medium heat. Add thyme, onion, and garlic. Cook until onion is
              completely soft and translucent, 10–12 minutes. Increase heat to medium-high; add tomato paste. Continue
              cooking, stirring often, until paste has begun to caramelize in spots, 5–6 minutes.</li>
            <li>Add tomatoes with juices, 1 tsp. sugar, and 8 cups water to pot. Increase heat to high; bring to a
              simmer. Reduce heat to medium. Simmer until flavors meld and soup reduces to about 2 quarts (8 cups),
              45–55 minutes. Remove soup from heat; let cool slightly. Discard thyme sprigs. Working in small batches,
              purée soup in a blender until smooth. Return to pot.<br>
              <mark>DO AHEAD:</mark> Soup can be made 2 days ahead. Let cool slightly, cover, and chill. Rewarm before
              continuing.
            </li>
            <li>Stir in ¼ cup cream. Simmer soup until flavors meld, 10–15 minutes longer. Season to taste with salt,
              pepper, and remaining 1 tsp. sugar. Add more cream, if desired.</li>
          </ol>

          <h4>Tips:</h4>
          <ul>
            <li>Unsalted butter can be replace with vegetable oil or Oilve oil.</li>
            <li>Basil can be replace with any kind of dry/fresh herbs.</li>
            <li>Heavy cream can be replace with milk for lighter texture.</li>
          </ul>

        </td>
      </tr>
    </table>

    <table align="center">
      <tr>
        <th colspan="2">
          <a name="cream_of_mushroom"></a>
          <h2>Cream of Mushroom Soup</h2>
          <img src="cream_mushroom.jpg"><br><br>
          Reference: recipet from "<a href="https://www.tasteofhome.com/recipes/quick-cream-of-mushroom-soup/"
            target="_blank">Taste of Home</a>"
        </th>
      </tr>

      <tr>

        <td align="left">
          <h4>Ingredient</h4>
          <ul>
            <li>2 Tbsp butter</li>
            <li>1/2 pound sliced fresh mushrooms</li>
            <li>1/2 medium chopped onion</li>
            <li>6 Tbsp all-purpose flour</li>
            <li>Kosher salt and freshly ground black pepper</li>
            <li>2 cups chicken broth</li>
            <li>1 cup half-and-half cream</li>
          </ul>
        </td>

        <td align="left">
          <h4>Ingredient for Additional flavor </h4>
          <ul>
            <li>2 cups of grated hard cheese</li>
            <br><br><br><br><br><br>
          </ul>
        </td>

      </tr>

      <tr>
        <td colspan="2" align="left" style="width:700px">

          <h4>Recipe Preparation</h4>
          <ol>
            <li>In a large saucepan, heat butter over medium-high heat; saute mushrooms and onion until tender.</li>
            <li>Mix flour, salt, pepper and 1 can broth until smooth; stir into mushroom mixture. Stir in remaining can
              of broth. Bring to a boil; cook and stir until thickened, about 2 minutes. Reduce heat; stir in cream.
              Simmer, uncovered, until flavors are blended, about 15 minutes, stirring occasionally.</li>
          </ol>

          <h4>Tips:</h4>
          <ul>
            <li>Many people don't know the difference between chicken broth and chicken stock. Chicken stock is made
              from bone, while chicken broth is made from meat.</li>
            <li>Mushrooms are rich in vitamin B, which makes them a great supporter of heart health.</li>
            <li>Heavy cream can be replace with milk for lighter texture.</li>

          </ul>

        </td>
      </tr>
    </table>


    <table align="center">
      <tr>
        <th colspan="2">
          <h2><a name="cream_of_potato">Cream of Potato Soup</a></h2>
          <img src="cream_potato.jpg"><br><br>
          Reference: recipet from "<a href="https://www.tasteofhome.com/recipes/cream-of-potato-soup/"
            target="_blank">Taste of Home</a>"
        </th>
      </tr>

      <tr>

        <td align="left">
          <h4>Ingredient</h4>
          <ul>
            <li>2 medium potatoes, peeled and diced</li>
            <li>1 cup water</li>
            <li>2 Tbsp chopped onion</li>
            <li>2 Tbsp butter</li>
            <li>2 Tbsp all-purpose flour</li>
            <li>3 cups whole milk</li>
            <li>Kosher salt and freshly ground black pepper</li>

          </ul>
        </td>

        <td align="left">
          <h4>Ingredient for Additional flavor </h4>
          <ul>
            <li>Paprika and minced fresh parsley</li>
            <li>1/8 tsp celery salt</li>
            <li>1 cup of cooked corn/carrot/peas</li>
            <br><br><br><br>
          </ul>
        </td>

      </tr>

      <tr>
        <td colspan="2" align="left" style="width:700px">

          <h4>Recipe Preparation</h4>
          <ol>
            <li>Place the potatoes and water in a saucepan; bring to a boil over medium-high heat. Cover and cook until
              tender; drain and set aside.</li>
            <li>In the same pan, saute onion in butter until tender. Stir in flour until blended. Gradually stir in
              milk. Bring to a boil; cook and stir for 2 minutes or until thickened. Reduce heat; add the potatoes. Cook
              for 2-3 minutes or until heated through.</li>
            <li><mark>Optional:</mark> Sprinkle with parsley and paprika.</li>
          </ol>

          <h4>Tips:</h4>
          <ul>
            <li>Unsalted butter can be replace with vegetable oil or Oilve oil.</li>
            <li>Can add meat at the end. Such as 1/2 cup of Bacon cut into Lardons. Or 1 cup of chicken / cooked ground
              beef.</li>
            <li>Heavy cream can be replace with milk for lighter texture.</li>
          </ul>

        </td>
      </tr>
    </table>
